body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-gray {
  background-color: rgb(40, 37, 37);
}

.logo-img {
  width: 150px;
  height: 44px;
}

.rt-section {
  float: right;
  width: 300px;
}

.pre-prod {
  width: 185px;
    background-color: #6a6666;
    color: white;
    padding: 10px 16px;
    margin: 0;
}

.main-container {
  height: calc(100vh - 80px);
}

.bg-light-gray {
  background-color: #aba6a6;
}

.left-nav ul li {
  width: 100%;
}

.left-nav ul li .nav-link{
  color: black;  
  border-left: 7px solid transparent;
  border-radius: 0px;
  border-bottom: 1px solid #908a8a;
}

.left-nav ul li .nav-link:hover{
  background-color: #696666;
  color: black;
}

.left-nav ul li .nav-link.active{
  border-left: 7px solid rgb(221, 71, 11);
  border-radius: 0px;
  background-color: #696666;
}

.left-nav ul li ul li .sub-nav-link{
  color: black;
  border-radius: 0px;
  text-decoration: none;
  padding-left: 15px !important;
  border-bottom: 1px solid #908a8a;
  width: 100%;
  display: inline-block;  
  padding: 5px 0px;
}

.left-nav ul li ul li .sub-nav-link:hover{
  background-color: #696666;
  color: black;
}

.left-nav ul li ul li .sub-nav-link.active{
  border-radius: 0px;
  background-color: #696666;  
  /* font-weight: bold; */
  color: white;
}

.border-aba6a6 {
  border-color: #aba6a6 !important;
}

.pagination > li > a
{
    background-color: white;
    color: #6c757d;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #6c757d !Important;
    border: solid 1px #6c757d !Important;
}

.pagination > .active > a:hover
{
    background-color: #6c757d !Important;
    border: solid 1px #6c757d;
}

.activeClassName {
  background-color: yellow;
}

.prop-text {
  display: inline;
    color: rgb(221, 71, 11);
    float: left;
    position: relative;
    top: 20px;
}